@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-decoration: underline solid blueviolet ;
    color: blueviolet;
}
form{
    width: 30%;
    margin: 0 auto;
    border: 2px solid blueviolet;
    padding: 20px;
}
label{
    display:block;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
input{
    padding: 10px 18px;
}
fieldset{
    margin-bottom: 30px;
    border: 2px solid blueviolet;
}
legend{
    font-size: 22px;
    color: blueviolet;
}
textarea{
    width: 100%;
}
.reset,
.submit{
    padding: 8px 15px;
    font-size: 16px;
    margin-right:10px;
    background-color: blueviolet;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px blueviolet;
}

/* form ends */

table{
    margin: 0 auto;
    width: 600px;
    border-collapse: collapse;
    overflow-x: auto;
}
caption{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

tr{
    font-size: 20px;
    transition: .5s;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

tr:hover{
    background-color: blueviolet;
    color: white;
}

/* table ends */

header{
    height: 100vh;
    background: url(/image/background.jpg), rgba(37, 37, 37, 0.425);
    background-blend-mode: multiply;
}
nav{
    color: white;
    padding: 0 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav ul li {
    padding: 5px 10px;
    margin-top: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
}

img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

section{
    width: 29%;
    margin: 100px auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.header h1{
    font-size: 90px;
    text-decoration: none;
    color: white;
    margin-bottom: 40px;
}
.search{
    position: relative;
}

.search input{
    width: 100%;
    padding: 13px 50px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}

#search-icon{
    position: absolute;
    color: grey;
    top: 15px;
    left: 23px;
    font-size: 14px;
}

#microphone{
    position: absolute;
    color:dodgerblue;
    top: 15px;
    right: 23px;
    font-size: 16px;
}

.icons{
    width: 65%;
    margin: 50px auto;
}

.icons ul{
    list-style-type:none;
    display: grid;
    grid-template-columns:auto auto auto;
}

.icons ul li {
    margin-bottom: 50px;
}

.icons ul li a{
    font-size: 25px;
    padding: 11px;
    background-color: white;
    border-radius: 50%;
}
.fa-facebook{
    color: #2152ad;
}

.fa-youtube{
    color: red;
}
.fa-github{
    color: black;
}